.not-found {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100vh;
}

.not-found__actions {
  display: flex;
  gap: 1rem;
  padding-top: 10px;
}